## Settings file was created by plugin RememberIPDamnit v0.2
## Plugin GUID: Xenofell.RememberIPDamnit

[RememberIPDamnit]

# Setting type: String
# Default value: 
Address = 104.223.101.62:27220

# Setting type: String
# Default value: 
Password = hughchungus

